@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

* {
  font-family: "Pretendard-Regular", "Literata";
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 90%;
}

.ce-paragraph[data-placeholder]:empty::before {
  color: grey;
}

.codex-editor__redactor {
  padding-bottom: 0;
}

h1.ce-header {
  @apply text-3xl font-bold;
}
h2.ce-header {
  @apply text-2xl font-semibold;
}
h3.ce-header {
  @apply text-xl font-semibold;
}
h4.ce-header {
  @apply text-lg font-semibold;
}
h5.ce-header {
  @apply text-base font-semibold;
}
h6.ce-header {
  @apply text-base font-semibold;
}
